# Dataset
student_resource/dataset/
output/candidate_pairs.tsv
output/matching_results.tsv
# macOS metadata
.DS_Store
**/.DS_Store
**/._*

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/